[class*="icon-"] {
	display: inline-block;
	width: {{size}}px;
	height: {{size}}px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
{{icons
.icon-{{name}} {
	background-position: -{{x}}px -{{y}}px;{{width

	width: {{width}}px;}}
}
}}