[user]
	name = Danny Grove
	email = danny@drgrovellc.com
	signingkey = E1F4160251DB4C2E
[color]
	ui = true
[push]
	default = matching
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[core]
	editor = vim
[gpg]
	program = /usr/bin/gpg2
[credential]
	helper = cache
