#ifndef DPI
  #ifdef SRVR_covenant
    #define DPI 276
    #define ROFI_FONT hack 32
  #endif
  #ifdef SRVR_neuromancer
    #define DPI 164
  #endif
  #ifdef SRVR_tardis
    #define CURSOR_SIZE 20
    #define ROFI_FONT hack 12
  #endif
#endif

! Deal with all other hostnames
#ifndef DPI
  #define DPI 96
#endif
#ifndef CURSOR_SIZE
  #define CURSOR_SIZE 16
#endif
#ifndef ROFI_FONT
  #define ROFI_FONT_SIZE hack 12
#endif

Xcursor.size: CURSOR_SIZE
Xft.dpi: DPI
Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085

! special
*.foreground:   #c6c6c6
*.background:   #1f1f1f
*.cursorColor:  #c6c6c6

! black
*.color0:       #828282
*.color8:       #828282

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #81a2be
*.color10:      #81a2be

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #c5c8c6

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #000000, #273238, #1e2529
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #000000, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #000000, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #000000, #ff1844, #273238, #394249, #ff1844


rofi.font: ROFI_FONT
rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
