<html ng-app="optionsController" ng-controller="OptionsCtrl" ng-csp xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    Google Cast extension options
  </title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
  <link href="options.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="background_script.js"></script>
</head>
<body id="options"
    ng-class="{'scrolling-disabled': isChromekeySetupActive}">
  <div class="fixed-top">
    <header>
      <img id="cast-icon" src="data/icon48.png" alt="Cast" ng-dblclick="doubleClicks = doubleClicks + 1">
      <h1 class="top-title">
      <angular-message desc="Options page header" key="options_title">
          Google Cast extension options
        </angular-message>
      </h1>
    </header>
  </div>
  <div class="options-sections">
    <section class="chromekey-setup-frame-section">
      <iframe id="chromekeySetupFrame" src="dongle_setup_flow.html"
          ng-class="{'chromekey-setup-frame-active': isChromekeySetupActive}"
          frameborder="0" width="100%" height="100%">
      </iframe>
    </section>
    <section>
      <h3>
        <angular-message desc="Label for checkbox to automatically resize the output window" key="options_auto_resizing">
          Auto-resizing
        </angular-message>
      </h3>
      <div class="checkbox">
        <input type="checkbox" ng-model="allowAutoResize" type="radio" id="allowAutoResize"/>
        <label for="allowAutoResize">
          <angular-message desc="Description of what auto-resizing does" key="options_auto_resizing_details">
            Automatically resize the browser to best fit the receiver screen when
            casting a tab
          </angular-message>
        </label>
      </div>
    </section>
    <section>
      <h3>
        <angular-message desc="Label for section about selecting quality of tab projection" key="options_tab_proj_quality">
          Tab projection quality
        </angular-message>
      </h3>
      <span ng-repeat="q in qualityLevels" class="controlled-setting-with-label">
        <input ng-disabled="isMirroring" type="radio" ng-model="model.quality" value="{{q.id}}" id="ql-{{q.id}}"/>
        <label for="ql-{{q.id}}">{{q.name}}</label>
      </span>
    </section>
    <section>
      <h3>
        <angular-message desc="Label for selecting whether to enable full screen zooming" key="options_fullscreen_zoom">
          Fullscreen zoom
        </angular-message>
      </h3>
      <span class="controlled-setting-with-label">
        <input ng-model="zoomMode" type="radio" value="on" id="zoomMode-on"/>
        <label for="zoomMode-on">
          <angular-message desc="Label for enabling full screen zooming" key="options_fullscreen_zoom_on">
            Enabled - prevents black bars on widescreen video
          </angular-message>
        </label>
      </span>
      <span class="controlled-setting-with-label">
        <input ng-model="zoomMode" type="radio" value="off" id="zoomMode-off"/>
        <label for="zoomMode-off">
          <angular-message desc="Label for disabling full screen zooming" key="options_fullscreen_zoom_off">
            Disabled - show content exactly as it appears on this screen
          </angular-message>
        </label>
      </span>
    </section>
    <section ng-show="doubleClicks > 1">
      <h3>
        <angular-message desc="Label for developer settings section" key="options_developer_settings">
          Developer Settings
        </angular-message>
      </h3>
      <angular-message desc="Label for custom domains allowed to use the Cast SDK" key="options_developer_domains">
        Cast SDK additional domains:
      </angular-message>
      <br/>
      <div ng-repeat="domain in customDomains" class="custom-domain">
        {{domain}}
        <a ng-click="deleteCustomDomain(domain)" href="" id="deleteCustomDomain">
          <angular-message desc="Label for deleting a domain from the list" key="options_developer_domain_delete">
            delete
          </angular-message>
        </a>
      </div>
      <form ng-submit="addCustomDomain()" id="addCustomDomain">
        <input ng-model="newCustomDomain" type="text" size="50" id="newCustomDomain"/>
        <a ng-click="addCustomDomain()" href="">
          <angular-message desc="Label for adding a domain to the list" key="options_developer_domain_add">
            add
          </angular-message>
        </a>
      </form>
    </section>

    <div class="fixed-bottom" ng-show="showStopCasting">
      <div>
        <angular-message desc="Note about when changes take effect" key="options_change_effect">
          Your changes will take effect the next time you cast a tab.
        </angular-message>
      </div>
      <button ng-click="stopCasting()" id="stopCasting">
        <angular-message desc="Button to stop casting immediately" key="options_stop_casting">
          Stop casting now
        </angular-message>
      </button>
    </div>
  </div>
  <div ng-show="debug && doubleClicks > 1 || quality == 'custom'" class="options-sections">
    <section>
      <h3>Custom mirroring settings</h3>
      <p>Changing these may have unintended consequences. Be careful.</p>
      <table border="0">
        <tr><td colspan=2><b>Video Settings</b></td></tr>
        <tr>
          <td>Minimum bitrate:</td>
          <td>
            <!-- TODO(keiger) here and elsewhere: replace with real constants when Angular will let us -->
            <input ng-model="minVideoBitrate" min="100" max="5000" type="number" size="3" id="minVideoBitrate">kbps
            (min {{globalMinVideoBitrate}})
          </td>
        </tr>
        <tr>
          <td>Maximum bitrate:</td>
          <td>
            <input ng-model="maxVideoBitrate" min="100" max="5000" type="number" size="3" id="maxVideoBitrate">kbps
            (max {{globalMaxVideoBitrate}})
          </td>
        </tr>
        <tr>
          <td>Max quantization:</td>
          <td>
            <input ng-model="videoQuality" type="number" min="0" size="3" id="videoQuality">
          </td>
        </tr>
        <tr>
          <td>Video buffer:</td>
          <td>
            <input ng-model="bufferSizeMillis" type="number" min="0" size="3" id="bufferSizeMillis">ms
            <span ng-show="bufferSizeMillis == 0">(Disabled, buffer size is 0)</span>
          </td>
        </tr>
        <tr>
          <td>Maximum tab frame rate:</td>
          <td>
            <input ng-model="maxFrameRate" type="number" min="1" size="3" id="maxFrameRate">fps
          </td>
        </tr>
        <tr>
          <td>Resolution:</td>
          <td>
            <label ng-repeat="r in videoResolutions">
              <input ng-model="$parent.videoResolution" type="radio" value="{{r.name}}" id="{{r.name}}"/>
              {{r.displayName}}
            </label>
          </td>
        </tr>
        <tr><td colspan=2><b>Audio Settings</b></td></tr>
        <tr>
          <td>Audio bitrate:</td>
          <td>
            <input ng-model="audioBitrate" type="number" min="56" max="128" size="3" id="audioBitrate">kbps
            ({{globalMinAudioBitrate}} - {{globalMaxAudioBitrate}})
          </td>
        </tr>
        <tr><td colspan=2><b>Network Settings</b></td></tr>
        <tr>
          <td>Pacing:</td>
          <td>
            <label>
              <input ng-model="enablePacing" type="checkbox" id="enablePacing"/> Enable pacing (M28 or later)
            </label>
          </td>
        </tr>
        <tr>
          <td>TCP:</td>
          <td>
            <input ng-model="enableAudioTcp" type="checkbox" id="enableAudioTcp"/> Enable audio TCP
            <input ng-model="enableVideoTcp" type="checkbox" id="enableVideoTcp"/> Enable video TCP
          </td>
        </tr>
        <tr>
          <td>NACK:</td>
          <td>
            <label>
              <input ng-model="enableAudioNack" type="checkbox" id="enableAudioNack"/> Enable Audio NACK
            </label>
          </td>
        </tr>
      </table>
    </section>
    <section>
      <h3>More Developer Settings</h3>
      <p>Some settings may not take effect until the extension is reloaded. Always reload the extension after making changes.</p>
      <p>
        <button ng-click="reload()" id="reload">Reload Extension</button>
        <button ng-click="enableLogWindow()" id="enableLogWindow">Enable Log Window</button>
      </p>
      <p>
      <label><input ng-model="isLaunchViaFling" type="checkbox" id="isLaunchViaFling">Load receiver app using fling</input></label>
      <label>
      URL for fling command:<br/>
      <input ng-model="receiverUrl" type="text" size="50" id="receiverUrl"/>
      </label>
      </p>
      <p>
        <label>
          <input ng-model="isUsingCustomReceiverVersion" type="checkbox">
          Use custom receiver version</input>
        </label>
        <label>
          Custom receiver version:<br/>
          <input ng-model="customReceiverVersion" type="text" size="60"/>
        </label>
      </p>
      <p>
        AppEngine receiver IDs:<br/>
        <div ng-repeat="id in appengineReceiverIds">
          {{id}}
          <a ng-click="deleteReceiver(id)" href="" id="deleteReceiver">delete</a>
          <a href="{{getReceiverUrl(id)}}" target="_blank" id="launchAeReceiver">launch</a>
        </div>
        <form ng-submit="addReceiver()" id="addReceiver">
          <input ng-model="newReceiverId" type="text" size="30" id="newReceiverId"/>
          <a ng-click="addReceiver()" href="">add</a>
        </form>
      </p>
      <p>
        Fixed DIAL device IPs:<br/>
        <div ng-repeat="id in fixedDeviceIps">
          {{id}}
          <a ng-click="removeFixedIpReceiver(id)" href="" id="removeFixedIpReceiver">delete</a>
        </div>
        <form ng-submit="addFixedIpReceiver()" id="addFixedIpReceiver">
          <input ng-model="newReceiverIp" type="text" size="30" id="newReceiverIp"/>
          <input type="submit" value="add"/>
        </form>
      </p>
      <p>
        <input ng-model="isCloudEnabled" type="checkbox" id="isCloudEnabled"/>Enable Cloud Features
      </p>
      <p>
        Translation Verification:<br/>
        Text: <input ng-model="translationText" /><br/>
        Angular translation:
        <!-- This verifies that translation and substitution are working as expected -->
        <angular-message desc="sample translation to test that things are working"
            key="sample_js_translation">
          You typed <span style="color: green;">{{translationText}}</span>
        </angular-message><br/>
        <button ng-click="showTranslatedMessage()">Show JS Replacement</button>
      </p>
    </section>
    <section ng-show="cloud">
      <h3>Cloud Settings</h3>
      <p>Pair with cloud device:</p>
      <form ng-submit="pairWithDevice()">
        <input ng-model="pairingCode" type="text" size="30" id="pairingCode" ng-disabled="pairingInProgress" />
        <a ng-click="pairWithDevice()" href="" id="pairWithDevice" ng-disabled="pairingInProgress">pair</a>
        <p style="color:green" ng-show="showPairSuccess">Pairing successful!</p>
        <p style="color:red" ng-show="showPairFail">Pairing failed!</p>
        <p>
      </form>
      <p>Delete cloud device:</p>
      <form ng-submit="deleteDevice()">
        <select ng-model="deviceToDelete" ng-options="a.name for a in devices" ng-disabled="deleteInProgress"></select><br>
        <a ng-click="deleteDevice()" href="" ng-disabled="deleteInProgress">delete</a><br>
        <a ng-click="refreshList()" href="" ng-disabled="deleteInProgress">refresh</a>
        <p>
      </form>
    </section>
    <section>
      <h3>Feedback settings</h3>
      <p><label>
        <input ng-model="autoFeedback" type="checkbox" id="autoFeedback"/> Enable automatic feedback after mirroring stops
      </label></p>
    </section>
  </div>
</body>
</html>
