.eco-li {
  width: 107%;
  position: relative;
}

.eco-favicon {
  position:absolute;
  left: -16px;
  top: 3px;
  width: 13px;
  height: 13px;
}

.eco-hint {
  margin-left:5px;
  font-size: 14px;
  color: #333;
  cursor:help;
  position:relative;
}

.eco-hint img, .eco-hint span {
  opacity: .5;
}

.eco-hint img {
  opacity: .2;
  margin-right: 5px;
  position: relative;
  top: 1px;
  height: 13px;
}
.eco-hint .tooltip {
  visibility:hidden;
  position:absolute;
  white-space:normal;
}

.tooltip.tooltip-hover {
  visibility:visible;
  position: absolute;
  bottom: 22px;
  right:-51px;
  width: 142px;
  z-index:1040;
  line-height: 1.4;
  padding: 5px 4px;
  margin-top: -3px;
  font-size: 11px;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: normal;
  opacity: 0.85;
  filter: alpha(opacity=85);
  background: rgb(0, 0, 0);
  border: 4px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.tooltip.tooltip-hover a:visited {
  color:#3399FF;
}

.tooltip.tooltip-hover a {
  color:#3399FF;
}

.tooltip.tooltip-hover a:active {
  color:#66FFFF !important;
}

.tooltip.tooltip-hover h4{
  margin:0 0 5px;
}

.tooltip-spacer{
  visibility:hidden;
  position: absolute;
  top: -9px;
  left: -33px;
  width: 158px;
  height: 11px;
}
.tooltip-spacer-visible{
  opacity:0;
  visibility: visible;
}

.tooltip.tooltip-hover:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 150px;
  left: 70px;
}
