
.progressBar { height:12px; border-radius:6px; border:1px solid #888; width:100%; /*-webkit-box-shadow:0 0 3px #ddd;*/ }
.progressBar > div { height:10px; border-radius:5px; background:#888; width:10px; /*border:1px solid #fff;*/ margin-top:1px; margin-left:1px; }
